body {
	font-family: Arial, sans-serif;
}

.drawer {
	width: 250px;
	height: 100%;
	background-color: #333;
	color: white;
	position: fixed;
	top: 0;
	right: -250px; /* مخفي خارج الشاشة من اليمين */
	transition: right 0.3s ease; /* تأثير الانتقال */
	opacity: 1;
	padding: 20px;
	box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* ظل من اليمين */
}
@media (max-width: 768px) {
	#drawer {
		/* top: -1000px; */
		left: 100%;
		opacity: 0;
		transition: 0.5s;
		z-index: -5555;
	}
}
#drawer.active {
	opacity: 1;
	left: 0;
	transition: 0.5s;
	z-index: 1;
	/* top: 100%; */
}

.nav {
	list-style-type: none;
	padding: 0;
}
@media (max-width: 768px) {
	.nav {
		height: 100px;
	}
}
.nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

.submenu ul {
	list-style-type: none;
	padding-left: 20px; /* مسافة لتمييز القوائم الفرعية */
}

button#toggleDrawer {
	position: absolute;
	margin-left: 77%;
	margin-top: 25px;
	padding: 10px 20px; /* زيادة حجم الزر */
	font-size: 24px; /* حجم خط أصغر قليلاً */
	background-color: #f1b825; /* لون خلفية الزر */
	color: white; /* لون النص */
	border: none; /* إزالة الحدود */
	border-radius: 25px; /* زوايا مستديرة أكبر */
	cursor: pointer; /* تغيير المؤشر عند المرور فوق الزر */
	transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* تأثيرات الانتقال */
	font-family: "Arial", sans-serif; /* خط */
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* ظل أكثر وضوحاً */
	display: none; /* إخفاء الزر في الشاشات الأكبر */
}

@media (max-width: 768px) {
	button#toggleDrawer {
		display: block; /* عرض الزر في الشاشات الأصغر */
	}
	#drawer {
		position: absolute; /* تحديد موقع الدرج */
	}
}

button#toggleDrawer:hover {
	background-color: #cd9c1e; /* لون خلفية عند المرور */
	transform: scale(1.1); /* تكبير الزر عند المرور */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* ظل أكبر عند المرور */
}

button#toggleDrawer:focus {
	outline: none; /* إزالة الإطار الافتراضي عند التركيز */
}
